body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px; /* Increased margin for better spacing */
}

.dropbtn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px; /* Increased minimum width for better readability */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0056b3;
}

/* Added styling for sets input and PR button */
.sets-input {
    margin-top: 10px;
    width: calc(100% - 22px); /* Adjusting width to leave some space on both sides */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pr-button {
    margin-top: 10px;
    background-color: #28a745; /* Green color for PR button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Full width button */
}

.pr-button:hover {
    background-color: #218838; /* Darker green color on hover */
}

