<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goals Submitted</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='submitgoals.css') }}">
</head>
<body>
    <div class="container">
        <h1>Goals Submitted</h1>
        <div class="feedback">
            <p class="bmi">Your BMI is: {{ bmi }}</p>
            <p class="bmr">Your BMR is: {{ bmr }}</p>
            <p class="feedback-text">{{ feedback }}</p>
            {% if goal_feedback %}
                <p class="calories-needed">Calories Needed: {{ goal_feedback }}</p>
            {% endif %}
            {% if calories_needed %}
                <p class="calories-needed">Calories Needed: {{ calories_needed }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
